.label-orange label {
    font-weight: bold;
    color: rgb(238, 156, 3);
}

hr {
    border-top: 5px solid rgba(16, 55, 128, 0.781);
}

legend {
    font-weight: bold;
    color: gray;
}

.risk-box {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.risk-box-low.active {
    background-color: green;
}

.risk-box-medium.active {
    background-color: yellow;
}

.risk-box-high.active {
    background-color: red;
}